@model DotPonto.Models.Empresas

@{
    ViewData["Title"] = "DashBoard";
}



<div class="text-center">
    <h1 class="display-4">DashBoard</h1>

    <div class="flex-container">
        <div>Empresa</div>
        <div>Filial</div>
        <div>Lotações</div>
        <div>Usuários</div>

    </div>

    <div class="flex-container">
        <div>@ViewData["QtdEmp"]</div>
        <div>@ViewData["QtdFil"]</div>
        <div>@ViewData["QtdLot"]</div>
        <div>@ViewData["QtdUsu"]</div>

    </div>
</div>